@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --col-bg-primary: white;
    --col-bg-secondary: #FAFAFA;
    --col-bg-highlight: #FF3147;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body h1 {
    font-size: 3rem;
}

body h2{
    font-size: 2rem;
}

body h3{
    font-size: 1.5rem;
}

body h4{
    font-size: 1.2rem;
    font-weight: 600;
}

.text-highlight {
    color: var(--col-bg-highlight);
    font-weight: 500;
}

.section{
    width: 100%;
    padding: 1rem;
}

.bg-gray{
    background-color: var(--col-bg-secondary);
}

.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100svh;
}

.left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    gap: 2rem;
}

.hero-img{
    height: 80%;
}

.btn-primary{
    width: fit-content;
    padding: 0.8rem 1.3rem;
    font-size: 1rem;
    background-color: var(--col-bg-highlight);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
}

/* WHY US SECTION */
.why-us-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.why-us-section .card-container{
    display: flex;
    width: 65%;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* border: 1px solid red; */
}

.why-us-section .card-container .card{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

.why-us-section .card-container .card img{
    height: 4.5rem;
}