@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --col-bg-primary: white;
    --col-bg-secondary: #FAFAFA;
    --col-bg-highlight: #FF3147;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body h1 {
    font-size: 3rem;
}

body h2{
    font-size: 2rem;
}

body h3{
    font-size: 1.5rem;
}

.text-highlight {
    color: var(--col-bg-highlight);
    font-weight: 500;
}

.section{
    width: 100%;
    padding: 1rem;
}

.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100svh;
}

.left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    gap: 2rem;
}

.hero-img{
    height: 80%;
}

.btn-primary{
    width: fit-content;
    padding: 0.8rem 1.3rem;
    font-size: 1rem;
    background-color: var(--col-bg-highlight);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
}