@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --col-bg-primary: white;
    --col-bg-secondary: #FAFAFA;
    --col-bg-highlight: #FF3147;
    --col-bg-highlight-dark: #df2336;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body h1 {
    font-size: 3rem;
}

body h2 {
    font-size: 2rem;
}

body h3 {
    font-size: 1.5rem;
}

body h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

.text-highlight {
    color: var(--col-bg-highlight);
    font-weight: 500;
}

.section {
    width: 100%;
    padding: 5rem;
}

.bg-gray {
    background-color: var(--col-bg-secondary);
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100svh;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 2rem;
}

.left-section h1 {
    font-size: 4rem;
}

.left-section p {
    width: 80%;
}

.hero-img {
    width: 30%;
}

.btn-primary {
    width: fit-content;
    padding: 1.1rem 1.8rem;
    font-size: 1rem;
    background-color: var(--col-bg-highlight);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    transition: 0.1s ease;
    z-index: 5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-primary-text {
    z-index: 5;
}

.btn-primary::before {
    content: "";
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--col-bg-highlight-dark);
    transform: translateX(-100%);
    transition: 0.2s ease-out;
}

.btn-primary:hover::before {
    transform: translateX(0);
    z-index: 1;
}

/* SERVICES SECTION */
.services-heading-container {
    display: block;
    width: 70%;
    margin: auto;
}

.heading-section {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.services-heading-container .heading-section p {
    width: 90%;
}

.slide-container {
    width: 85%;
    margin-left: 15%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    position: relative;
}

.slide {
    /* border: 1px solid blue; */
    width: 25%;
    height: 50svh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.trigger-left-slide-anim {
    animation-name: slide-left;
    animation-duration: 0.5s;
}

.trigger-right-slide-anim {
    animation-name: slide-right;
    animation-duration: 0.5s;
}

.slide-arrow-btn{
    background-color: rgba(206, 206, 206, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem 1.65rem;
    border-radius: 50%;
    font-size: 2rem;
    position: absolute;
    transition: 0.2s ease;
}

.slide-arrow-btn:hover {
    background-color: rgba(206, 206, 206, 0.8);
}

.left-arrow {
left: 0;
transform: translateX(-50%);
}

.right-arrow {
    right: 0;
    transform: translateX(50%);
}

.slide:hover .inslide-container {
    transform: translateY(0%);
}

.inslide-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--col-bg-highlight);
    color: white;
    transform: translateY(100%);
    transition: 0.3s ease-in-out;
}

.inslide-container img {
    width: 4rem;
}

.inslide-container h3 {
    font-weight: 500;
}

.inslide-container p {
    width: 80%;
    text-align: center;
}

.btn-slide {
    background-color: white;
    color: var(--col-bg-highlight);
    padding: 0.7rem 1.5rem;
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    margin-top: 1rem;
    text-decoration: none;
    font-weight: 600;
}

.btn-slide img {
    width: 2rem;
    transition: 0.1s ease;
}

.btn-slide:hover img {
    transform: translateX(5px);
}

.index-container {
    margin-left: 15%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8%;
    padding: 0.5rem;
}

.outer-index-dot {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.highlighted-dot {
    width: 25px;
    height: 25px;
    border: 1px solid var(--col-bg-highlight);
}

.highlighted-dot .inner-index-dot {
    background-color: var(--col-bg-highlight);
}

.inner-index-dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-color: black;
}

@keyframes slide-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    33% {
        transform: translateX(-10px);
        opacity: 0;
    }

    66% {

        transform: translateX(10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    33% {
        transform: translateX(10px);
        opacity: 0;
    }

    66% {

        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* WHY US SECTION */
.why-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.why-us-section .card-container {
    display: flex;
    width: 70%;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* border: 1px solid red; */
}

.why-us-section .card-container .card {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

.why-us-section .card-container .card img {
    height: 4.5rem;
}

/* PROJECT SECTION */
.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 70%;
    margin: auto;
    min-height: 400px;
    height: fit-content;
    /* border: 1px solid black; */
}

.project-container .img-container {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./img/project-2.png');
    background-position: center;
    transition: 0.2s ease;
    border-radius: 5px;
}

.project-container .content-container .content-box {
    padding: 3rem 2rem;
    /* border: 1px solid blue; */
    background-color: #F6F6F6;
    cursor: pointer;
    transition: 0.2s ease;
}

.project-container .content-container .content-box h4 {
    margin-bottom: 1rem;
}

.project-container .content-container .highlighted-content-box {
    background-color: var(--col-bg-highlight);
    color: white;
}

/* GROWTH SECTION */
.growth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--col-bg-secondary);
}

.growth-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 70%;
    margin: auto;
}

.growth-card {
    width: 20%;
    aspect-ratio: 1 / 1;
    background-color: var(--col-bg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    transition: 0.2s ease;
}

.growth-card:hover {
    box-shadow: 0px 5px 10px 3px #bebebe9d;
}

.growth-card img {
    width: 2rem;
}

.growth-card-heading {
    font-size: 2.5rem;
}

/* FEEDBACK SECTION */
.feedback-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.feedback-body {
    width: 60%;
    display: block;
    position: relative;
    margin: auto;
    padding: 1rem;
}

.feedback-body img {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
}

.author {
    display: block;
    width: 60%;
    margin: auto;
    padding: 1rem;
    font-weight: 600;
}

.author-name {
    font-weight: 600;
}

/* FOOTER SECTION */
footer {
    width: 100%;
    height: 40svh;
    background-image: url('./img/footerbg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 60%;
}